[submodule "backend"]
	path = backend
	url = https://github.com/Daniel-Lim88/shorten_.git
	branch = backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/Daniel-Lim88/shorten_.git
	branch = frontend
[submodule "cli"]
	path = cli
	url = https://github.com/Daniel-Lim88/shorten_.git
	branch = cli
